*body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
}
.container > strong {
   
    color:  #362744;
}
.container > input{
    size: 60px; ;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 8px 0;
    border-bottom:1px solid white ;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    box-sizing: border-box;
    padding: 1rem;
  }
.remember > label {
    width: 100%;
    display: flex;
    position: absolute;
    padding: 2rem;
}
.forgot {
    float: right;
    padding: 2rem;
    width: 60%;
   
  }
  .login-button {
    background-color: #362744;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    width: 90%;
    padding: 1rem;
}